/target

# ztst test runner artifacts (created by frost-compat tests in CWD)
# These are created when running the zsh test suite against frost
*.tmp/
*.log
/0
/1
/2
/-
/bar
/foo
/yes
/no
/p
/msg
/oops
/def
/dot_*
/extra/
/foo-*
/func_info
/gatest*
/input*
/line_info
/link
/link_to_*
/loadthis*
/out*
/output*
/redirfile
/source_*.zsh
/tbc_*
/test_path_script/
/tmpfile*
/unmatched_quote.txt
/until_dot
crates/frost/def
crates/frost/dot_*
crates/frost/extra/
crates/frost/foo*
crates/frost/func_info
crates/frost/gatest*
crates/frost/input*
crates/frost/line_info
crates/frost/link*
crates/frost/loadthis*
crates/frost/msg
crates/frost/no
crates/frost/oops
crates/frost/out*
crates/frost/output*
crates/frost/p
crates/frost/redirfile
crates/frost/source_*.zsh
crates/frost/tbc_*
crates/frost/test.log
crates/frost/test_path_script/
crates/frost/tmpfile*
crates/frost/unmatched_quote.txt
crates/frost/until_dot
crates/frost/yes
crates/frost/-
crates/frost/0
crates/frost/1
crates/frost/2
crates/frost/bar*
crates/frost/cat_arg
crates/frost/errfile
crates/frost/fnfile
crates/frost/multio_*
crates/frost/ngs*
crates/frost/KVA*
crates/frost/bad_syntax
crates/frost/xt.in
crates/frost/xtrace.err
crates/frost/nologfile
crates/frost/regex_test.sh
crates/frost/rod*
crates/frost/emufunctest
crates/frost/zdotdir/
result
